flask==3.0.3
flask-socketio==5.3.6
flask-login==0.6.3
flask-sqlalchemy==3.1.1
werkzeug==3.0.3
eventlet==0.36.1
sqlalchemy==2.0.31
email-validator==2.2.0
gunicorn==22.0.0
cloudinary==1.40.0
greenlet==3.0.3